h4 {
    color: rgb(241, 11, 11);
}

.rouge{
    color: red;
}

h4 {
    color: rgb(241, 11, 11);
}

.rouge{
    color: red;
}
ol{
    font-size: 20px ;
}
 p{ 
    border: 1px solid black;
    text-align:  center;
    border-radius: 50px;
 }


h1 {
    font-family: cursive;
}